@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family */
.font-manrope {
  font-family: var(--font-manrope);
}
.font-saira {
  font-family: var(--font-saira);
}

h1 {
  @apply text-dark-gunmetal text-[38px] md:text-[84px] 2xl:text-[94px]  2xl:leading-[100px] font-saira font-bold leading-[42px] md:leading-[95px] -tracking-[0.8px]; /* Example styles using Tailwind CSS classes */
}

h2 {
  @apply text-dark-gunmetal text-4xl md:text-6xl font-saira font-bold -tracking-[0.5px];
}

h3 {
  @apply text-[46px] font-saira font-semibold leading-[70px] -tracking-[0.3px];
}

p {
  @apply text-dark-black text-xl max-lg:text-base font-manrope;

  &.themeDark {
    @apply text-white;
  }
}

.heading-1 {
  @apply text-dark-gunmetal font-manrope font-semibold text-lg leading-7;
}

.p1 {
  @apply text-dark-black font-manrope font-normal text-base md:text-xl leading-6 md:leading-7;

  &.semibold {
    font-weight: 500;
  }
  &.themeDark {
    @apply text-white;
  }
}
li {
  .pi {
    @apply text-dark-black;
  }
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(50%); /* Start from below */
    opacity: 0;
  }
  80% {
    transform: translateY(2%); /* Overshoot slightly above */
    opacity: 1;
  }
  100% {
    transform: translateY(0%); /* Settle to final position */
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50%); /* Start from above */
    opacity: 0;
  }
  80% {
    transform: translateY(-2%); /* Overshoot slightly below */
    opacity: 1;
  }
  100% {
    transform: translateY(0%); /* Settle to final position */
    opacity: 1;
  }
}
.main-text,
.slide-in-bottom {
  opacity: 0;
  animation-name: slide-in-bottom;
  animation-duration: 1s; /* Duration for the slide-in effect */
  animation-timing-function: ease-in-out; /* Smooth transition */
  animation-fill-mode: forwards; /* Maintain the final position after animation */
}

.slide-in {
  opacity: 0;
  animation-name: slide-in-top;
  animation-duration: 500ms; /* Duration for the slide-in effect */
  animation-timing-function: ease-in-out; /* Smooth transition */
  animation-fill-mode: forwards; /* Maintain the final position after animation */
}
.slide-in-bottom {
  &:nth-child(1) {
    animation-delay: 0.5s;
  }
  &:nth-child(2) {
    animation-delay: 0.75s;
  }
  &:nth-child(3) {
    animation-delay: 1s;
  }
}
.content-section {
  .main-text {
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.25s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      animation-delay: 0.75s;
    }
    &:nth-child(5) {
      animation-delay: 1000ms;
    }
    &:nth-child(6) {
      animation-delay: 1.25s;
    }
  }
}

@media screen and (max-height: 825px) and (min-width: 1025px) {
  .section {
    top: 0px;
    min-height: auto !important;
    /* position: relative !important; */
  }
  .loan-it {
    padding: 2rem !important;
  }
  .save-on {
    padding-top: 4rem !important;
  }
  .ai {
    padding-top: 280px !important;
    padding-bottom: 240px !important;
  }
}
.parallax-spacer {
  height: 250vh;
  background-color: transparent;
}
@media screen and (max-height: 740px) and (min-width: 1025px) {
  .section {
    top: 0px;
    min-height: auto !important;
    /* position: relative !important; */
  }
  .loan-it {
    padding-top: 0.5rem !important;
  }
  .save-on {
    padding-top: 1rem !important;
  }
  .ai {
    padding-top: 200px !important;
    padding-bottom: 240px !important;
  }
}
.parallax-spacer {
  background-color: transparent;
}

@media (min-width: 1600px) {
  .mt-2000 {
    top: 6rem !important; /* top for big screens */
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* Custom container */
.custom-container {
  @apply w-full px-[10%] max-lg:px-[5%];
}

.insurancePartner {
  padding-bottom: 4.5rem;
}
