.no-scroll {
  @apply overflow-hidden h-screen;
}

/* Sticky Navbar for Desktop Only */
.navbar {
  position: sticky;
  top: 0;
  z-index: 102; /* Ensure it stays above other content */
  transition: all 0.3s ease;
}

/* Sticky Navbar */
.navbar.sticky {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Tailwind's shadow-lg equivalent */
}
.navbar {
  #toggle {
    @apply hidden;
  }

  #ham {
    @apply cursor-pointer w-[45px] h-[45px] rounded-lg relative hidden z-[15] transform rotate-0;
    transition: 0.5s ease-in-out;
  }

  #ham span {
    @apply block absolute h-[3px] w-[30px] bg-black rounded-[9px] opacity-100 left-[9px] transform rotate-0;
    transition: 0.25s ease-in-out;
  }

  #ham span:nth-child(1) {
    @apply top-3 w-[18px];
  }
  #ham span:nth-child(2) {
    @apply w-[3.5px] rounded-[3px] h-[3.5px] border-none top-[11px] left-[29px];
  }

  #ham span:nth-child(3) {
    @apply top-[21px];
  }

  #ham span:nth-child(4) {
    @apply top-[30px];
  }

  #toggle:checked + #ham span:nth-child(1) {
    @apply top-[19px] w-7;
    transform: rotate(135deg);
  }

  #toggle:checked + #ham span:nth-child(2) {
    @apply opacity-0;
  }

  #toggle:checked + #ham span:nth-child(3) {
    @apply opacity-0;
  }
  #toggle:checked + #ham span:nth-child(4) {
    @apply top-[19px] w-7;
    transform: rotate(-135deg);
  }

  .menu a {
    @apply no-underline mr-5;
  }

  .menu a:last-child {
    @apply mr-0;
  }

  .container {
    @apply p-4 pb-0 md:px-20 md:py-4 leading-[70px] m-auto h-[92px] xl:max-w-full max-w-none;
  }
  .headerContainer {
    @apply p-4 md2:py-4 md2:px-8 lg:px-20 lg:py-4 leading-[70px] m-auto h-[4.5rem] xl:max-w-full max-w-none;
  }
  #ham {
    @apply md:hidden inline-block float-right;
  }
  #toggle:checked ~ .menu {
    @apply left-0 rounded-none;
  }
  .menu a {
    @apply m-0;
  }
  .menu {
    @apply pt-[100px] md:pt-0 px-[18px] pb-0 rounded-tr-[80px] rounded-br-[80px] absolute md:static transition-all duration-500 top-0 w-full h-screen md:h-auto bg-arylide-yellow md:bg-opacity-0 z-[13] flex flex-col md:flex-row gap-x-5 items-start justify-start md:justify-center -left-full;
  }
}
